// App color
$white: white;
$card-title: #343a40;
$card-title-text: #bfbfbf;
$sidebar-link-hover: #737373;

// Sample color
$light-green: lightgreen;
$light-blue: lightblue;
$light-yellow: lightgoldenrodyellow;
